.App {
  text-align: center;
}

.UNbLOCK-text {
  font-size: 3em;
  font-weight: bold;
}

.slogan {
  font-size: 1.5em;
}

.creator-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.creator-button:hover {
  background-color: #0056b3;
}

.name-input {
  margin-top: 20px;
}

.enter-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.enter-button:hover {
  background-color: #218838;
}
