

/* * {
  margin: 20px;
  padding: 0px 00px;
} */


/* Header container */
.header {
  background-color: #c2acac; 
  width: 100%;
  height: 80px;
  color: #d2b3b3; 
  padding: 5px; 
  text-align: right; 
}

/* Header title */
.header h1 {
  margin: 20px; 
}


.header ul {
  list-style-type: none; 
  padding: 20px; 
}

.header li {
  font-size: 10px;
  display: inline; 
  margin-right: 10px; 
}

.header a {
  color: #ffffff; 
  text-decoration: none; 
}

.header a:hover {
  text-decoration: underline;
}





















  
  