
/* Global styles */


body {
  color: #e9c5c5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #693030;
  color: rgb(91, 50, 50);
  padding: 10px 0;
  text-align: left;
}

main {
  padding: 20px;
}
