/* src/components/Home.css */


/* Header styles */

header {
  background-color: #000000; 
  padding: 20px;
  position:relative;
  width: 100%;

}

nav ul {
  list-style-type: none;
  margin: 2px;
  padding: 0px;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0px 5px;
}

nav ul li a {
  font-family: Georgia, sans-serif; 
  color: #f3ecec;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
} 

/* UNbLOCK text block styles */
.unblock-block {
  text-align: center;
  margin-top: 100px;
} */

.unblock-block h1 {
  font-family: Impact, sans-serif;
  position: relative;
  text-align: center;
  font-size: 7em;
  margin: -15px;
  color: #000000; 
}

.unblock-block h1 span {

  font-size: 54px;
  text-align: top;
  color: #ca0000;   } 

.unblock-block h3 {
  font-size: 1em;
  font-family: 'Courier New';
  text-align: center;
  margin: 0px;
  color: #000000; 
}

.unblock-block p {
  font-size: 1.2em;
  color: #666;
} 


.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .prompt-generator-options {
    margin-top: 30px;
  }
  
  .prompt-generator-options button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
  }
  